h1{
  font-family: cursive;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

body{
  background: yellow;
}

figcaption{
  font-size: 1.5em;
  font-family: cursive;
}
img{
  border: 4px solid black;
}

li{
  float: left;
  margin-right: 10px;
  list-style-type: none;

}
